# Files to ignore when considering what GIT should commit.

# Qt Creator
/build-src-*

# CMake build dir
/src/build
out

/src/CMakeSettings.json

# Possible symlink for fixing tools that hardcode "game/mod_hl2mp" - we use "game/neo".
/game/mod_hl2mp

/game/neo/screenshots

# Binary Assets
/game/neo/maps
/game/neo/mapsrc
/game/neo/materials
/game/neo/particles
/game/neo/shaders
/game/neo/models

# Any debug or user specific configs that shouldn't be pushed
/game/neo/cfg/config.cfg
/game/neo/cfg/rain.cfg

# Shader state debug image dumps
/game/neo/*.tga

# Map compile artifacts
/game/neo/mapsrc/*.bsp
/game/neo/mapsrc/*.prt
/game/neo/mapsrc/*.vmx

# Object files
*.o
*.p

# Emacs style backup files
*~

# Git for Windows editor crash
*.exe.stackdump

# VSCode
*.vscode/

# Visual Studio
*.suo
*.user
*.sln.docstates
*.obj
*.pch
*.tlog
*.log
*.scc
*.exp
*.ilk
*.lastbuildstate
vc100.pdb
ipch
*.sdf
*.opensdf
*.idb
*.vcxproj
*.sln
*.vcxproj.filters
*.vcxproj.vpc_crc
*.vpc.sentinel
*.rsp
.vs/
Degub/
Release/
/src/fgdlib/Debug/
/src/fgdlib/Release/
/src/game/client/Debug_neo/
/src/game/client/Release_neo/
/src/game/server/Debug_neo/
/src/game/server/Release_neo/
/src/materialsystem/stdshaders/Debug_dx9_neo/
/src/materialsystem/stdshaders/Release_dx9_neo/
/src/mathlib/Debug/
/src/mathlib/Release/
/src/raytrace/Debug/
/src/raytrace/Release/
/src/tier1/Debug/
/src/tier1/Release/
/src/utils/captioncompiler/Debug/
/src/utils/captioncompiler/Release/
/src/utils/glview/Debug/
/src/utils/glview/Release/
/src/utils/height2normal/Debug/
/src/utils/height2normal/Release/
/src/utils/motionmapper/Debug/
/src/utils/motionmapper/Release/
/src/utils/phonemeextractor/Debug/
/src/utils/phonemeextractor/Release/
/src/utils/qc_eyes/Debug/
/src/utils/qc_eyes/Release/
/src/utils/serverplugin_sample/Debug/
/src/utils/serverplugin_sample/Release/
/src/utils/tgadiff/Debug/
/src/utils/tgadiff/Release/
/src/utils/vbsp/Debug/
/src/utils/vbsp/Release/
/src/utils/vice/Debug/
/src/utils/vice/Release/
/src/utils/vrad/Debug/
/src/utils/vrad/Release/
/src/utils/vrad_launcher/Debug/
/src/utils/vrad_launcher/Release/
/src/utils/vtf2tga/Debug/
/src/utils/vtf2tga/Release/
/src/utils/vtfdiff/Debug/
/src/utils/vtfdiff/Release/
/src/utils/vvis/Debug/
/src/utils/vvis/Release/
/src/utils/vvis_launcher/Debug/
/src/utils/vvis_launcher/Release/
/src/vgui2/vgui_controls/Debug/
/src/vgui2/vgui_controls/Release/

# Speech SDK API
sapi51/

# OSX/Linux build products
*.mak
*.mak.vpc_crc
*.xcodeproj/
obj*/
!devtools/*.mak
!utils/smdlexp/smdlexp.mak

# QT Creator project generated files
*.cflags
*.config
*.creator
*.cxxflags
*.files
*.includes

# Intel utilities
VTune\ Profiler\ Results/

# Specific Source build products
bin
*.project

client.pdb
client.dll
client.lib
server.pdb
server.dll
server.lib

vgui_controls.lib
fgdlib.lib
tier1.lib
mathlib.lib
raytrace.lib

client.so
client.so.dbg
server.so
server.so.dbg
server_srv.so
server_srv.so.dbg

client.dylib
client.dylib.dSYM/
server.dylib
server.dylib.dSYM/

# files generated by running a mod
config.cfg
voice_ban.dt
stats.txt
*.cache
glshaders.cfg
server_blacklist.txt
videoconfig_linux.cfg
*.ain
user_custom
textwindow_temp.html

# shader generation files
*.tmp
/src/materialsystem/stdshaders/fxctmp9_tmp/
/src/materialsystem/stdshaders/shaders/fxc/
/src/materialsystem/stdshaders/filelist.txt
/src/materialsystem/stdshaders/filelistgen.txt
/src/materialsystem/stdshaders/filestocopy.txt
/src/materialsystem/stdshaders/inclist.txt
/src/materialsystem/stdshaders/uniquefilestocopy.txt
/src/materialsystem/stdshaders/vcslist.txt
/src/materialsystem/stdshaders/makefile.stdshader_dx9_20b
/src/materialsystem/stdshaders/makefile.stdshader_dx9_20b.copy
/src/materialsystem/stdshaders/makefile.stdshader_dx9_30
/src/materialsystem/stdshaders/makefile.stdshader_dx9_30.copy
/src/materialsystem/stdshaders/buildhl2mpshaders.bat

# Server plugin files
/game/neo/addons
/game/neo/cfg/sourcemod

# Excludes
!makefile_base_posix.mak
!sourcesdk_def.mak

/game/neo/cfg/user.scr

# Auto-generated by CMake
/game/neo/resource/GameMenu.res
/src/game/shared/neo/neo_version_info.cpp

# News cache
/game/neo/news.txt
